MapGuide Open Source 4.0 authoring support

This umbrella issue tracks authoring support for new capabilities/features present in MapGuide Open Source 4.0

 * MapGuide RFC 173
   * [x] Remove XYZ tile set linkage restrictions if server is >= 4.0
   * [x] Support v4.0.0 runtime map schema
 * MapGuide RFC 162
   * [x] Support new batch coordinate transformation APIs introduced in the mapagent
      * [x] Use these new APIs for transforming BBOXes where we currently rely on a local MgCoordinateSystem/PROJ wrapper
 * MapGuide RFC 163
   * [x] Expose UI support for new `_EnableGeometry` WMS metadata property for Layer Definitions
 * MapGuide RFC 163 and 175
   * ~~[ ] Add new controls to local preview map viewer to enable WMS GetFeatureInfo and WFS GetFeatures if map/layers being previewed have activated the right metadata~~ moved to #81 